#rating
  %div
    THE FOLLOWING
    %strong
      TWITTER ACCOUNT
    HAS BEEN APPROVED FOR
  %div
    %strong
      ALL AUDIENCES
  %div BY THE DEWEY SHINE CurseRating OF TweeterMeter
  .box
    %div THIS TWITTER ACCOUNT HAS BEEN RATED
    %table
      %tr     
        %td.rating PG-13
        %td PARENTS STRONGLY CAUTIONED
      %tr
        %td.small{:colspan => '2'} Some Material May Be Inappropriate for Children Under 13
      %tr
        %td{:colspan => '2'}
          %div CRUDE AND SEXUAL HUMOR, LANGUAGE
          AND A BRIEF DRUG REFERENCE.
    .right &reg;
