- form_tag root_path do
  %label{ :for => 'search' } twitter username
  = text_field_tag 'user_id'
  = submit_tag 'Submit'

  %div#rating
    = render :partial => 'show', :locals => {:rating => @rating}
