body
  :margin 10px
  :padding 0
  :font 1em "Trebuchet MS", verdana, arial, sans-serif

body
  :font-size 100%

fieldset
  :border 1px solid #ccc
  :padding 1em
  :margin 0

legend
  :color #ccc
  :font-size 120%

input, textarea
  :display block
  :clear left
  :font-family Arial, verdana
  :font-size 125%
  :padding 7px
  :border 1px solid #999
  :margin 10px

div.style input
  :border 0px

form div.label
  :position relative
  :float left
  :margin-right 3px
  :clear left
  
label.over
  :color #ccc
  :position absolute
  :top 20px
  :left 20px

